//header
$header-height: 60px; 
$header-padding: 10px; 
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
#logo{
  height: 120px;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  p {
    margin-right: 10px;
    font-family: 'Kanit', sans-serif;
    color: black;
  }
}
.headerItem{
  text-decoration: none;
  color: black;
}
//	<header id="header" class="hide">
// <img src="./pics/logo.png" id="logo" alt="logo">
// <a class="headerItem" id="home" href="./main.html">Home</a>
// <a class="headerItem" href="./bio.html" id="bio">Bio</a>
// <a class="headerItem" id="resume">Resume</a>
// </header>