@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
$dashboard-height: 400px;
$dashboard-padding: 20px;
$box-size: 300px;
$box-spacing: 20px;

.dashboard {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $dashboard-height;
  padding: $dashboard-padding;
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;

  .dashboard__boxes {
    display: flex;
    justify-content: space-between;
    margin-top: $box-spacing;
  }
  #throttleBox {
    width: 90px;
  }
  .dashboard__box {
    width: $box-size;
    height: $box-size;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .dashboard__box1 {
    width: 10rem;
    height: 9.5rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.smallPic{
  width: 18rem;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
}
.earthPic {
  width: 400px;
  height: 400px;
}
#selfDestructBox {
  .dashboard__button {
    width: 7rem;
    height: 7rem;
    background-color: red;
    border-radius: 50%;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    transition: all 0.3s;

    &:hover {
      background-color: rgb(187, 4, 4);
    }
  }
}
.dashboard__button{
  text-decoration: none;
}
#logo {
  height: 120px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header p {
  margin-right: 10px;
  color: white;
}

.headerItem {
  text-decoration: none;
  color: white;
}
.earth{
  align-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

#logo {
  height: 120px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #333;

  p {
    margin-right: 10px;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
  }
}

.headerItem {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.radarPic{
  height: 19rem;
}
#radarBox{
  align-content: space-between;
}
#alien{
  height: 19rem;
}

.slider {
  input[type=range][orient=vertical] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 6rem;
    height: 100%;
  }
}
.slider:hover {
  opacity: 1;
  background-color: rgb(18, 17, 17);
}
.buttons{
  display: flex;
  flex-direction: column;
}
.words{
  left: 40rem;
  bottom: 19rem;
  width: fit-content;
  position: relative;
  color: white;
  z-index: 6;
}
.smallPic {
  width: 18rem;
  top: 7rem;
  position: absolute;
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

#logo {
  height: 120px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #737373;
  height: 8rem;
  width: 100%;
  margin: 0rem;

  p {
    font-size: 3rem;
    font-family: "Kanit", sans-serif;
    color: rgb(255, 255, 255);
  }
}

.headerItem {
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3rem;
}