@import "header";
$dashboard-height: 400px;
$dashboard-padding: 20px;
$box-size: 300px;
$box-spacing: 20px;

.dashboard {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $dashboard-height;
  padding: $dashboard-padding;
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;

  .dashboard__boxes {
    display: flex;
    justify-content: space-between;
    margin-top: $box-spacing;
  }
  #throttleBox {
    width: 90px;
  }
  .dashboard__box {
    width: $box-size;
    height: $box-size;
    background-color: #555;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .dashboard__box1 {
    width: $box-size;
    height: $box-size;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
}
.earthPic {
  width: 400px;
  height: 400px;
}
#selfDestructBox {
  .dashboard__button {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

    &:hover {
      background-color: rgb(187, 4, 4);
    }
  }
}
.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}
#logo {
  height: 120px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header p {
  margin-right: 10px;
  color: white;
}

.headerItem {
  text-decoration: none;
  color: white;
}
.earth{
  align-content: center;
}